* {
    margin: 0;
    padding: 0;
    text-align: center;
   /*background-color: #E491C9;*/
   background-color: #F1E9E9;
}

h1 {
    background-color: #15173D;
    color: #982598;
    height: 10rem;
    line-height: 10rem;
}

.choise {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choise:hover {
    cursor: pointer;
    background-color: #15173D;
}

img {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
}

.choises {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 6rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
    height:100px;
}


#msg {
    background-color: #982598;
    color: #F1E9E9;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}


footer{
    display: flex;
    background-color: #15173D;
    color: #F1E9E9;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 80px;
    line-height: 30px;
    padding-top: 10px;
}