* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #4988C4;
}

.container {
    background-color: #BDE8F5;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select,button,input {
    background-color: #BDE8F5;
    width: 90%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input {
    border: 1px solid #4988C4;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid #4988C4; 
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}

form button {
    height: 3rem;
    background-color: #1C4D8D;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}